@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  background-color: rgb(241, 241, 243);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.center {
  align-self: center;
}

.flow-right {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px 10px;
  margin-top: -53px;
  font-size: 11px;
  letter-spacing: 1px;
}

.counts {
  border: 1px solid black;
  padding: 10px 20px;
  margin-top: -5px;
}

.container {
  max-width: 800px;
  margin: 10px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 243);
  height: 100vh;
}

.title, .controls, .button {
  flex: none;
}

.title {
  letter-spacing: 1px;
  font-style: bold;
  text-transform: uppercase;
}

.button {
  background-color: rgb(241, 241, 243);
  border: solid 1px black;
  text-decoration: none;
  width: 92%;
  margin: 30px;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 10px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.todo-list {
  flex: 1 1 0;
  /* margin-top: 10px; */
  padding: 20px;
  overflow-y: auto;
  transition: 500ms;
  transition: ease-in-out;
}

.todo-delete {
  margin: 10px;
}

input[type="checkbox"] {
  display: none;
}

.checkbox-decoration {
  float: right;
  margin-top: -22px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgb(241, 241, 243);
}

.todo-container {
  padding: 20px;
  border-bottom: 1px solid #333;
  transition: all 0.5s ease-in-out;
}

.todo-container:first-of-type {
  /* border-top: 1px dotted #333; */
  transition: all 0.5s;
}

.todo-text {
  width: 80%;
  margin: 0%;
  margin-top: 2px;
  word-wrap: break-word;
}

.todo-textfield {
  width: 70%;
  margin: 30px 20px;
  margin-bottom: 0px;
  padding: 10px 10px;
}

.todo-textsubmit {
  background-color: rgb(241, 241, 243);
  border: solid 1px black;
  text-decoration: none;
  width: 17%;
  margin-left: 5px;
  padding: 10px 10px;
}

input[type="text"],
input[type="button"],
input[type="radio"]
textarea,
select,
*:focus {
  outline: none;
}

input[type="text"]{
  background-color: rgb(241, 241, 243);
  border: 1px solid #000000;
}
input[type="text"]:focus {
  background-color: rgb(241, 241, 243);
  border: 1px solid #000000;
}

.side-decoration {
  position: fixed;
  margin: 5px;
  width: 5px;
  height: 100%;
  background-color: #000000;
}